misc/schema/v3.0.2new - CEF/META-SHARE-LicenseMetadata.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2011 sp1 (http://www.altova.com) by End User (free.org) -->
<!-- edited by ILSP/Athena R.C. -->
<xs:schema xmlns:ms="http://www.ilsp.gr/META-XMLSchema" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.ilsp.gr/META-XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="3.0.2" xml:lang="en">
	<xs:include schemaLocation="./META-SHARE-SimpleTypes.xsd"/>
	<xs:include schemaLocation="./META-SHARE-RoleTypes.xsd"/>
	<!-- definition of complex types -->
	<!-- media type info TextInfo/imageInfo/AudioInfo/VideInfo etc-->
	<xs:complexType name="distributionInfoType">
		<xs:annotation>
			<xs:documentation>Groups information on the distribution of the resource</xs:documentation>
			<xs:appinfo>
				<render-short>{availability}, licenses: {licenceInfo}</render-short>
			</xs:appinfo>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="availability">
				<xs:annotation>
					<xs:documentation>Specifies the availability status of the resource; restrictionsOfUse can be further used to indicate the specific terms of availability</xs:documentation>
					<xs:appinfo>
						<relation>one-to-one</relation>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="40"/>
						<xs:enumeration value="available-unrestrictedUse">
							<xs:annotation>
								<xs:documentation>For resources available with no restrictions of use</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="available-restrictedUse">
							<xs:annotation>
								<xs:documentation>For resources available but with restrictions of uses imposed by the type of licence</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="underNegotiation">
							<xs:annotation>
								<xs:documentation>for resources that their availability is still pending</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<!--
						<xs:enumeration value="availableThroughOtherDistributor">
							<xs:annotation>
								<xs:documentation>For resources that are not available through META-SHARE</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
-->
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element ref="ms:licenceInfo" minOccurs="1" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Groups information on licences for the resource; can be repeated to allow for different modes of access and restrictions of use (e.g. free for academic use, on-a-fee basis for commercial use, download of a sample for free use etc.)</xs:documentation>
					<xs:appinfo>
						<relation>one-to-many</relation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="iprHolder" type="ms:actorInfoType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Groups information on a person or an organization who holds the full Intellectual Property Rights (Copyright, trademark etc) that subsist in the resource. The IPR holder could be different from the creator that may have assigned the rights to the IPR holder (e.g. an author as a creator assigns her rights to the publisher who is the IPR holder) and the distributor that holds a specific licence (i.e. a permission) to distribute the work within the META-SHARE network.</xs:documentation>
					<xs:appinfo>
						<relation>many-to-many</relation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="membershipInfoType">
		<xs:annotation>
			<xs:documentation>The conditions imposed by the user being member of some association/institution (e.g., ELRA, LDC) distributing the resource. This indicates the availability conditions (and prices) for users who are members or not.</xs:documentation>
			<xs:appinfo>
				<render-short>member:{member} {membershipInstitution}</render-short>
			</xs:appinfo>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="member" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>Whether the user is a member or not</xs:documentation>
					<xs:appinfo>
						<relation>one-to-one</relation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="membershipInstitution" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>This lists the different institutions releasing the resources and establishing membership conditions</xs:documentation>
					<xs:appinfo>
						<relation>one-to-many</relation>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="50"/>
						<xs:enumeration value="ELRA"/>
						<xs:enumeration value="LDC"/>
						<xs:enumeration value="TST-CENTRALE"/>
						<xs:enumeration value="other"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="licenceInfoType">
		<xs:annotation>
			<xs:documentation>Groups information on licences for the resource; can be repeated to allow for different modes of access and restrictions of use (e.g. free for academic use, on-a-fee basis for commercial use, download of a sample for free use etc.)</xs:documentation>
			<xs:appinfo>
				<render-short>{licence}</render-short>
			</xs:appinfo>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="licence">
				<xs:annotation>
					<xs:documentation>The licence of use for the resource; for an overview of licences, please visit: http://www.meta-net.eu/meta-share/licenses</xs:documentation>
					<xs:appinfo>
						<relation>one-to-many</relation>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="100"/>
						<xs:enumeration value="CC-BY"/>
						<xs:enumeration value="CC-BY-NC"/>
						<xs:enumeration value="CC-BY-NC-ND"/>
						<xs:enumeration value="CC-BY-NC-SA"/>
						<xs:enumeration value="CC-BY-ND"/>
						<xs:enumeration value="CC-BY-SA"/>
						<xs:enumeration value="CC-ZERO"/>
						<xs:enumeration value="underNegotiation"/>
						<xs:enumeration value="openForReuseWithRestrictions"/>
						<xs:enumeration value="termsOfUse"/>
						<xs:enumeration value="proprietary"/>
						<xs:enumeration value="other"/>
						<!---
						<xs:enumeration value="MS-NoReD"/>
						<xs:enumeration value="MS-NoReD-FF"/>
						<xs:enumeration value="MS-NoReD-ND"/>
						<xs:enumeration value="MS-NoReD-ND-FF"/>
						<xs:enumeration value="MS-NC-NoReD"/>
						<xs:enumeration value="MS-NC-NoReD-FF"/>
						<xs:enumeration value="MS-NC-NoReD-ND"/>
						<xs:enumeration value="MS-NC-NoReD-ND-FF"/>
						<xs:enumeration value="AGPL"/>
						<xs:enumeration value="ApacheLicence_2.0"/>
						<xs:enumeration value="BSD"/>
						<xs:enumeration value="BSD-style"/>
						<xs:enumeration value="GFDL"/>
						<xs:enumeration value="GPL"/>
						<xs:enumeration value="LGPL"/>
						<xs:enumeration value="Princeton_Wordnet"/>
-->
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="personalDataIncluded" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>Specifies whether the resource contains or not personal data; this might mean that special handling of the resource is required (e.g. anonymisation)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="personalDataAdditionalInfo" type="xs:string">
				<xs:annotation>
					<xs:documentation>If the resource includes personal data, this field can be used for entering more information, e.g. whether special handling of the resource is required (e.g. anonymisation, further request for use etc.)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sensitiveDataIncluded" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>Specifies whether the resource contains or not sensitive data; this might mean that special handling of the resource is required (e.g. anonymisation)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sensitiveDataAdditionalInfo" type="xs:string">
				<xs:annotation>
					<xs:documentation>If the resource includes sensitive data, this field can be used for entering more information, e.g. whether special handling of the resource is required (e.g. anonymisation)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="conditionsOfUse" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Specifies terms and conditions of use (e.g. attribution, payment etc.) imposed by the licence</xs:documentation>
					<xs:appinfo>
						<relation>one-to-many</relation>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="100"/>
						<xs:enumeration value="nonCommercialUse"/>
						<xs:enumeration value="commercialUse"/>
						<xs:enumeration value="attribution"/>
						<xs:enumeration value="shareAlike"/>
						<xs:enumeration value="noDerivatives"/>
						<xs:enumeration value="research"/>
						<xs:enumeration value="education"/>
						<xs:enumeration value="other"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="termsOfUseText" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Used to provide a free text description of the terms of use associated with a resource (mainly for non-standard licences)</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:restriction base="ms:myString">
							<xs:maxLength value="1000"/>
						</xs:restriction>
					</xs:simpleContent>
				</xs:complexType>
				<xs:unique name="uniqueLang13">
					<xs:selector xpath="."/>
					<xs:field xpath="@lang"/>
				</xs:unique>
			</xs:element>
			<xs:element name="termsOfUseURL" type="ms:httpURI" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Used to provide a hyperlink to a url describing the terms of use for a language resource (mainly for non-standard licences)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<!--
			<xs:element name="distributionAccessMedium" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Specifies the medium (channel) used for delivery or providing access to the resource</xs:documentation>
					<xs:appinfo>
						<recommended>true</recommended>
						<relation>one-to-many</relation>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="30"/>
						<xs:enumeration value="webExecutable"/>
						<xs:enumeration value="paperCopy"/>
						<xs:enumeration value="hardDisk"/>
						<xs:enumeration value="bluRay"/>
						<xs:enumeration value="DVD-R"/>
						<xs:enumeration value="CD-ROM"/>
						<xs:enumeration value="downloadable"/>
						<xs:enumeration value="accessibleThroughInterface"/>
						<xs:enumeration value="other"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="downloadLocation" type="ms:httpURI" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Any url where the resource can be downloaded from</xs:documentation>
					<xs:appinfo>
						<relation>one-to-many</relation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="executionLocation" type="ms:httpURI" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Any url where the service providing access to a resource is being executed</xs:documentation>
					<xs:appinfo>
						<relation>one-to-many</relation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="fee" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Specifies the costs that are required to access the resource, a fragment of the resource or to use a tool or service</xs:documentation>
					<xs:appinfo>
						<relation>one-to-one</relation>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="100"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
-->
			<xs:element name="attributionText" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>The text that must be quoted for attribution purposes when using a resource - for cases where a resource is provided with a restriction on attribution</xs:documentation>
					<xs:appinfo>
						<relation>one-to-many</relation>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:restriction base="ms:myString">
							<xs:maxLength value="1000"/>
						</xs:restriction>
					</xs:simpleContent>
				</xs:complexType>
				<xs:unique name="uniqueLang12">
					<xs:selector xpath="."/>
					<xs:field xpath="@lang"/>
				</xs:unique>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="distributionInfo" type="ms:distributionInfoType">
		<xs:annotation>
			<xs:documentation>Groups information on the distribution of the resource</xs:documentation>
			<xs:appinfo>
				<relation>one-to-one</relation>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>
	<xs:element name="licenceInfo" type="ms:licenceInfoType">
		<xs:annotation>
			<xs:documentation>Groups information on licences for the resource; can be repeated to allow for different modes of access and conditions of use (e.g. free for academic use, on-a-fee basis for commercial use, download of a sample for free use etc.)</xs:documentation>
			<xs:appinfo>
				<relation>one-to-one</relation>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>
</xs:schema>
