misc/schema/CEF-SHARE/repositoryInfo.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2011 sp1 (http://www.altova.com) by End user (free.org) -->
<xs:schema xmlns:ms="http://www.ilsp.gr/META-XMLSchema" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.ilsp.gr/META-XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="3.0.1" xml:lang="en">
	<xs:include schemaLocation="./META-SHARE-SimpleTypes.xsd"/>
	<xs:include schemaLocation="./META-SHARE-BaseTypes.xsd"/>
	<xs:include schemaLocation="./META-SHARE-ResourceInfoTypes.xsd"/>
	<xs:simpleType name="subject_text">
		<xs:restriction base="xs:string">
			<xs:enumeration value="1 Humanities and Social Sciences"/>
			<xs:enumeration value="11 Humanities"/>
			<xs:enumeration value="101 Ancient Cultures"/>
			<xs:enumeration value="102 History"/>
			<xs:enumeration value="104 Linguistics"/>
			<xs:enumeration value="105 Literary Studies"/>
			<xs:enumeration value="109 Education Sciences"/>
			<xs:enumeration value="110 Psychology"/>
			<xs:enumeration value="111 Social Sciences"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="resourceType_text">
		<xs:restriction base="xs:string">
			<xs:enumeration value="corpus"/>
			<xs:enumeration value="lexicalConceptualResource"/>
			<xs:enumeration value="languageDescription"/>
			<xs:enumeration value="toolService"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="mediaType_text">
		<xs:restriction base="xs:string">
			<xs:enumeration value="audio"/>
			<xs:enumeration value="video"/>
			<xs:enumeration value="image"/>
			<xs:enumeration value="text"/>
			<xs:enumeration value="textNumerical"/>
			<xs:enumeration value="textNgram"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="accessPolicyInfoType">
		<xs:sequence>
			<xs:element name="accessPolicyType" maxOccurs="unbounded">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="open"/>
						<xs:enumeration value="closed"/>
						<xs:enumeration value="restricted"/>
						<xs:enumeration value="embargoed"/>
						<xs:enumeration value="other"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="accessPolicyURL" type="xs:anyURI" minOccurs="0"/>
			<xs:element name="accessRestrictionType" minOccurs="0" maxOccurs="unbounded">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="feeRequired"/>
						<xs:enumeration value="registration"/>
						<xs:enumeration value="other"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="standardLicenseInfo" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="licenseName" type="xs:string"/>
						<xs:element name="licenseVersion" type="xs:string" minOccurs="0"/>
						<xs:element name="licenseURL" type="xs:anyURI" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="repositoryInfoType">
		<xs:annotation>
			<xs:documentation>Groups together all information required for the description of repositories</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="headerInfo">
				<xs:annotation>
					<xs:documentation>Groups together all information pertaining to the header of a metadata record (repository or resource description)</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<!--
						<xs:element name="metadataRecordURL" type="xs:anyURI">
							<xs:annotation>
								<xs:documentation>The url for the metadata record; automatically inserted by the repository s/w</xs:documentation>
							</xs:annotation>
						</xs:element>
-->
						<xs:element name="metadataCreationDate" type="xs:date">
							<xs:annotation>
								<xs:documentation>Creation date of the metadata record; automatically inserted by the repository s/w</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="metadataCreator" type="ms:personInfoType" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Groups information on the person that has created the metadata record; automatically inserted by the repository s/w</xs:documentation>
								<xs:appinfo>
									<relation>many-to-many</relation>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>
						<xs:element name="metadataLastDateUpdated" type="xs:date" minOccurs="0">
							<xs:annotation>
								<xs:documentation>The date of the last updating of the metadata record; automatically inserted by the repository s/w</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="revision" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Provides an account of the revisions in free text or a link to a document with revisions</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="500"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="repositoryName" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>The official full name of the repository; the element can be repeated for different language versions (using the "lang" attribute to specify the language)</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:restriction base="ms:myString">
							<xs:maxLength value="500"/>
						</xs:restriction>
					</xs:simpleContent>
				</xs:complexType>
				<xs:unique name="uniqueLang14">
					<xs:selector xpath="."/>
					<xs:field xpath="@lang"/>
				</xs:unique>
			</xs:element>
			<xs:element name="repositoryAdditionalName" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>An additional name (usually a short name, acronym etc.) for the repository; the element can be repeated for different language versions (using the "lang" attribute to specify the language)</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:restriction base="ms:myString">
							<xs:attribute name="lang" type="xs:language"/>
						</xs:restriction>
					</xs:simpleContent>
				</xs:complexType>
				<xs:unique name="uniqueLang15">
					<xs:selector xpath="."/>
					<xs:field xpath="@lang"/>
				</xs:unique>
			</xs:element>
			<xs:element name="repositoryPID" type="xs:anyURI">
				<xs:annotation>
					<xs:documentation>A globally unique identifier in the form of a link that refers to the repository (for the MS platform, assigned by the Handle system)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="repositoryURL" type="xs:anyURI">
				<xs:annotation>
					<xs:documentation>The URL that gives reference to the repository</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="repositoryType" default="institutional" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>The type of the repository, i.e. whether it's institutional, disciplinary or aggregating</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="institutional">
							<xs:annotation>
								<xs:documentation>A repository whose contents belong to a single institution and/or is run by a single institution</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="disciplinary">
							<xs:annotation>
								<xs:documentation>A repository that contains resources based on thematic criteria, i.e. related to primarily a single discipline</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="aggregating">
							<xs:annotation>
								<xs:documentation>For aggregating repositories, i.e. repositories that host catalogues harvested from other repositories</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="providerType" default="dataProvider" maxOccurs="2">
				<xs:annotation>
					<xs:documentation>Documents the type of contents provided by the repository, i.e. data resources and/or web services</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="dataProvider">
							<xs:annotation>
								<xs:documentation>For repositories that provide data resources</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="serviceProvider">
							<xs:annotation>
								<xs:documentation>For repositories that provide web services</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="repositoryCountry" default="GRC">
				<xs:annotation>
					<xs:documentation>The country where the repository is hosted</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="GRC">
							<xs:annotation>
								<xs:documentation>Greece</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="CYP">
							<xs:annotation>
								<xs:documentation>Cyprus</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="repositoryLanguage" default="en" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>The primary language of the repository interface</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:language">
						<xs:enumeration value="en">
							<xs:annotation>
								<xs:documentation>english</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="el">
							<xs:annotation>
								<xs:documentation>Greek, Modern (1453-)</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="description" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>A short statement describing the repository; the element can be repeated for the different language versions using the "lang" attribute to specify the language</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:restriction base="ms:myString">
							<xs:maxLength value="500"/>
						</xs:restriction>
					</xs:simpleContent>
				</xs:complexType>
				<xs:unique name="uniqueLang16">
					<xs:selector xpath="."/>
					<xs:field xpath="@lang"/>
				</xs:unique>
			</xs:element>
			<!-- contentInfo to be revisited 
			<xs:element name="contentInfo" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="subject" minOccurs="1" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>The subject(s) of the research data repository; taken from re3d</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:simpleContent>
									<xs:extension base="ms:subject_text">
										<xs:attribute name="subjectScheme" form="unqualified">
											<xs:annotation>
												<xs:documentation>The subject scheme according to which the subject (see ID 13 subject) of the research data repository described.</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:enumeration value="DFG"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:attribute>
									</xs:extension>
								</xs:simpleContent>
							</xs:complexType>
						</xs:element>
						<xs:element name="resourceTypes" nillable="true" minOccurs="0" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>All types of resources available in the repository according to the MS schema.</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:simpleContent>
									<xs:extension base="ms:resourceType_text">
										<xs:attribute name="resourceTypeScheme" form="unqualified">
											<xs:annotation>
												<xs:documentation>The name and/or URL of the subject scheme or classification code (e.g.parse).</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:enumeration value="MetaShare"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:attribute>
									</xs:extension>
								</xs:simpleContent>
							</xs:complexType>
						</xs:element>
						<xs:element name="mediaTypes" nillable="true" minOccurs="0" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>All types of media for resources available in the repository according to the MS schema.</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:simpleContent>
									<xs:extension base="ms:mediaType_text">
										<xs:attribute name="mediaTypeScheme" form="unqualified">
											<xs:annotation>
												<xs:documentation>The name and/or URL of the subject scheme or classification code (e.g.parse).</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:enumeration value="MetaShare"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:attribute>
									</xs:extension>
								</xs:simpleContent>
							</xs:complexType>
						</xs:element>
						<xs:element name="contentLanguages" default="el" maxOccurs="unbounded">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="en"/>
									<xs:enumeration value="el"/>
									<xs:enumeration value="de"/>
									<xs:enumeration value="pt"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<-->
			<xs:element ref="ms:sizeInfo"/>
			<xs:element name="repositoryInstitution" type="ms:organizationInfoType">
				<xs:annotation>
					<xs:documentation>Groups information on the institution that is responsible for the repository</xs:documentation>
					<xs:appinfo>
						<relation>many-to-many</relation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="repositoryScientificLeader" type="ms:personInfoType" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Groups information on the person that acts as the Scientific Responsible for the repository</xs:documentation>
					<xs:appinfo>
						<relation>many-to-many</relation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="repositoryTechnicalResponsible" type="ms:personInfoType" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Groups information on the person acts as the Technical Responsible for the repository</xs:documentation>
					<xs:appinfo>
						<relation>many-to-many</relation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<!-- to be revisited 
			<xs:element name="depositingInstitution" type="ms:organizationInfoType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Groups information on organisations that deposit their resources in this repo (in addition to the leading organisation); this applies only to the orphan repository</xs:documentation>
					<xs:appinfo>
						<relation>many-to-many</relation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="depositingPerson" type="ms:personInfoType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Groups information on persons that deposit resources in the repository but are not associated to any organisation (this applies only to the orphan repository)</xs:documentation>
					<xs:appinfo>
						<relation>many-to-many</relation>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
-->
			<xs:element name="operationStartDate" type="xs:date">
				<xs:annotation>
					<xs:documentation>The start date of the operation of the repository; automatically inserted by the repository s/w</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="operationEndDate" type="xs:date" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The end date of the operation of the repository</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="missionStatementURL" type="xs:anyURI" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The URL of a mission statement describing the designated community of the repository</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="provenanceInfo" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Groups together information regarding provenance of the contents of the repository, in case of aggregating repositories</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="originatingRepository" type="xs:string" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>The name of the harvested repository</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="harvestingFrequency" type="xs:string" minOccurs="0">
							<xs:annotation>
								<xs:documentation>A statement on the frequency of the harvesting procedure in case of aggregators; e.g. every day</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<!-- 
			<xs:element name="termsOfUseInfo">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="repositoryAccessPolicyInfo" type="ms:accessPolicyInfoType"/>
						<xs:element name="metadataAcessPolicyInfo" type="ms:accessPolicyInfoType"/>
						<xs:element name="resourceAccessPolicyInfo" type="ms:accessPolicyInfoType"/>
						<xs:element name="resourceDepositionPolicyInfo" type="ms:accessPolicyInfoType"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
-->
			<xs:element name="repositorySoftwareInfo">
				<xs:annotation>
					<xs:documentation>Groups together information on the software used for the installation and operation of the repository</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="repositorySoftwareName" default="Reposhare">
							<xs:annotation>
								<xs:documentation>The name of the software used to run the repository (e.g. Reposhare, Fedora etc.)</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="Reposhare"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="repositorySoftwareVersion" type="xs:string">
							<xs:annotation>
								<xs:documentation>Any string, usually a number, that identifies the version of the repository software</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="pidSystem" default="hdl">
				<xs:annotation>
					<xs:documentation>The Persistent Identifier System used by the repository (e.g. handle)</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="hdl">
							<xs:annotation>
								<xs:documentation>Handle PID system</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<!-- not used yet for non-disclosure reaons; to be decided later
			<xs:element name="technicalInfo">
				<xs:annotation>
					<xs:documentation>Groups together information required for the operation of the repository</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="dataUploadURL" type="xs:anyURI">
							<xs:annotation>
								<xs:documentation>The URL where each provider must put their data in order to upload them to the repository</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="idProviderURL">
							<xs:annotation>
								<xs:documentation>The URL that refers to the shiboleth accounts of the repository organisation (identity provider)</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:anyURI">
									<xs:enumeration value="https://login.athena-innovation.gr/idp/shibboleth">
										<xs:annotation>
											<xs:documentation>Athena - Research and Innovation Center</xs:documentation>
										</xs:annotation>
									</xs:enumeration>
									<xs:enumeration value="https://idp.ariadne-t.gr/idp/shibboleth">
										<xs:annotation>
											<xs:documentation>NCSR Demokritos</xs:documentation>
										</xs:annotation>
									</xs:enumeration>
									<xs:enumeration value="https://login-idp.auth.gr/idp/shibboleth">
										<xs:annotation>
											<xs:documentation>Aristotle University of Thessaloniki</xs:documentation>
										</xs:annotation>
									</xs:enumeration>
									<xs:enumeration value="https://idp.ionio.gr/idp/shibboleth">
										<xs:annotation>
											<xs:documentation>Ionian University</xs:documentation>
										</xs:annotation>
									</xs:enumeration>
									<xs:enumeration value="https://idp.uoa.gr/idp/shibboleth">
										<xs:annotation>
											<xs:documentation>National and Kapodistrian University of Athens</xs:documentation>
										</xs:annotation>
									</xs:enumeration>
									<xs:enumeration value="https://idp.aegean.gr/idp/shibboleth">
										<xs:annotation>
											<xs:documentation>University of the Aegean</xs:documentation>
										</xs:annotation>
									</xs:enumeration>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
-->
		</xs:sequence>
	</xs:complexType>
	<xs:element name="repositoryInfo" type="ms:repositoryInfoType">
		<xs:annotation>
			<xs:documentation>Groups together all information required for the description of repositories</xs:documentation>
		</xs:annotation>
	</xs:element>
</xs:schema>
